@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Julius+Sans+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');

.nota__encabezado{
	text-align: center;
	text-decoration-style: solid;
	font-weight: 800;
	font-size: 1.7rem;
	color:$dorado ;
	font-family: 'Julius Sans One', sans-serif;

}

.novedades__articulo{
	width: 90% ;
	height: auto;
	margin: 20px auto;
	border-bottom: solid 4px $dorado;
	padding: 10px 20px;
	box-sizing: border-box;
}	

.texto1{
	color: white;
	font-size: 2rem;
	font-family: $fontCursiva;
	text-align: center;
}
.texto2{
	color: darkgoldenrod;
	font-size: 2rem;
	text-align: center;
}


.letra__negrita{
	font-family: 'Encode Sans Semi Expanded', sans-serif;
}

.novedades__titulo--xxl{
	font-size: 5rem;
}
.novedades__titulo--xl{
	font-size: 2rem;
}

.titulo__pie{
	display: flex;
	flex-direction: column;
	align-items: center;
	font-size: 2rem;
	color: $dorado;
	font-family: 'Julius Sans One', sans-serif;

}